body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u0 {
  position:absolute;
  left:20px;
  top:15px;
  width:84px;
  height:28px;
  font-size:12px;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:100px;
  top:60px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:96px;
  top:133px;
  width:169px;
  height:238px;
}
#u6 {
  position:absolute;
  left:2px;
  top:111px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:72px;
}
#u7 {
  position:absolute;
  left:97px;
  top:134px;
  width:166px;
  height:72px;
  opacity:0.9;
}
#u8 {
  position:absolute;
  left:2px;
  top:28px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u9 {
  position:absolute;
  left:153px;
  top:168px;
  width:55px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:134px;
  top:413px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13 {
  position:absolute;
  left:20px;
  top:445px;
  width:300px;
  height:120px;
  font-family:'苹方 粗体', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:96px;
  top:133px;
  width:169px;
  height:238px;
  overflow:hidden;
  visibility:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:238px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:296px;
}
#u16 {
  position:absolute;
  left:-79px;
  top:-31px;
  width:326px;
  height:296px;
}
#u17 {
  position:absolute;
  left:2px;
  top:140px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
